*{
    padding: 0;
    margin: 0;
}
.login{  
    width: 500px;  
    margin: auto;   
    padding: 60px;  
    background:whitesmoke;  
    border-radius: 10px ; 
     
      
}  
h1{  
    text-align: center;  
    color: black;  
    padding: 10px;  
}  
body
{
  margin:0px; 
  background-color:#EBF5FB ; 
  color:black;
   font-family:Arial, Helvetica, sans-serif;
}
#main
{
  width:600px;
   height:350px;
    margin-left:auto;
     margin-right:auto;
      border-radius:3px; 
      padding-left:30px; 
      /* margin-top:10px; */
  border-top:3px
}
#main table
{
  font-family:"Comic Sans MS", cursive;
} 

#main .tb
{
 height:20px; 
 width:150px;
  border:5px solid black;
   color:black; 
   font-weight:bold; 
   margin-left: 15px; 
}


#main .btn
{
 width:100px; 
 height:15px; 
 outline:none;  
 font-weight:bold; 
 border:2px solid black;
  text-shadow: 0px 0.5px 0.5px #fff;	
 border-radius: 2px; 
 font-weight: 600;
  color: black; 
  letter-spacing: 1px; 
  font-size:14px;
   -webkit-transition: 1s; 
   -moz-transition: 1s;
    transition: 1s;
    margin-left: 134px;
}

#main .btn:hover
{
 background-color:black; 
 outline:none;
   border-radius: 2px; color:#f1f1f1; 
   border:1px solid #f1f1f1;
}
span{  
    color: black;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: rgb(216, 241, 236);  
}

#main{width:700px; height:auto; overflow:hidden; ; margin-left:auto; margin-right:auto; 
    /* border-radius:100px; padding-left:10px; margin-top:100px;  ;  */
    /* border-bottom:3px ; padding-top:20px; padding-bottom:20px*/
    }
    
    #main table{font-family:"Comic Sans MS", cursive;}
    /* css code for textbox */
    #main .tb{height:28px; width:230px; border:7px solid black;     }
    
    #main .tb:focus{height:28px; border:1px solid black; outline:none; }

    /* css code for button*/
    #main .btn{width:150px; height:32px; 
    text-shadow: 0px 0.5px 0.5px #fff; font-weight: 600; color:black;  
    font-size:14px; background-color:white; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
 
    #main .btn:hover{background-color:black;  color:white; ;
    -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; } 
    .login #login-button{
        height: 1.9em;
        width: 30%;
        color: black;
        background-color:white;
        border: 10px solid rgb(187, 204, 221);
    }
    .mymargin{
        margin :0%;
        float: left;
        
        height: 30em;
        
    } 
    input[type=text], input[type=password] {
      width: 100%;
      padding: 20px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background:white;
    }
    input[type=text]:focus, input[type=password]:focus {
      background-color:white;
      outline: none;
    }
    
    
    
    
    button {
      background-color: white;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    button:hover {
      opacity:1;
    }
    
    
    .cancelbtn, .signupbtn {
      
      width: 50%;
    }
    
    .container {
      padding: 200px;
    }
    
    
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
   h1{
       color:white;
       text-align: center;
   }